header {
	text-align: center;
	width: 100%;
}

nav {
	text-align: center;
	width: 100%;
	border: 1px solid red;
	margin-top: 10px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
}

nav ul li a {

}

div.feature {
	width: 100%;
	border: 1px solid red;
	margin-top: 10px;
}

div.left {
	width: 30%;
	float: left;
	border: 1px solid red;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 2.3%;
}

div.middle {
	width: 30%;
	float: left;
	border: 1px solid red;	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;

}

div.right {
	width: 30%;
	float: left;
	border: 1px solid red;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2.25%;
}

footer {
	text-align: center;
	border: 1px solid red;
	width: 100%;
	clear: both;
}

h2 {
	text-align: center;
}